.about-container {
  background-color: #FAEBD7;
  height: 35vh;
  width: 100%;
  /*font-family: 'Montserrat', sans-serif;*/
}

#about_h2 {
  font-size: 35px;
  margin-top: 5vh;
  padding: 20px 10px;
}

#about_p {
  font-size: 16px;
  margin-top: 6vh;
  padding: 20px 10px;
}
