#header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  background-color: #FFFFFF;
  color: #111111;
}

#walmart-logo {
  margin-top: 10vh;
  width: 50vw;
}
