#header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 30vh;
  background-color: #FFFFFF;
  color: #111111;
}

#header-title {
  font-family: 'Megrim', cursive;
  font-size: 13vh;
}
