#chart-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FAEBD7;;
  width: 100vw;
  font-family: 'Inconsolata';
  margin: 5vh 5vh;
}

#chart-input {
  font-size: 2.2vw;
  border: solid black;
}

::-webkit-input-placeholder {
   text-align: center;
   font-size: 20px;
   font-family: 'Inconsolata';
}

#chart-input-button {
  padding: 20px 30px;
  font-size: 20px;
  margin-left: 20px;
  border: solid black;
  font-family: 'Inconsolata';
}

#chart-input:focus {
  outline: none;
}

#chart-input-button:focus {
  outline: none;
}

#chart-input-button:hover {
  background-color: #111111;
  color: #FFFFFF;
}
